.my-items {
  padding: 90px 0px;
}
.table {
  width: 100%;
}
.table table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table table tr th {
  padding: 10px 14px;
  text-align: center;
}
.table table tr td {
  padding: 10px 14px;
  text-align: center;
}
@media only screen and (max-width: 760px) {
  .container {
    width: 100%;
  }
}
