.updateProduct .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.updateProduct .container .productInformation {
  width: 600px;
}
.updateProduct .container .productInformation .image {
  width: 100%;
}
.updateProduct .container .productInformation .image img {
  width: 100%;
}
.about {
  text-align: justify;
}
.name {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--orange);
  padding: 10px 0px;
}
.mt-zero {
  margin-top: 0;
}
