.about-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  grid-column-gap: 20px;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 95%;
}
.about-information .information > h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 90px;
}
.about-information .information > h3 > span {
  color: var(--orange);
}
.about-information .information > p {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 35px;
}

@media only screen and (max-width: 660px) {
  .about-information {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
    grid-gap: 20px;
  }
}
