.header{
    padding: 10px 0px;
    background: var(--veryDarkBlue);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo .logo-text{
    font-weight: 700;
    color: var(--orange);
    font-size: 25px;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu li a{
    display: inline-block;
    padding: 8px 14px;
    color: white;
}
