.add-product > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}
.add-product > .container > .form-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
