@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap');


/* COMMON CSS START FROM HERE */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* COMMON CSS END HERE  */
/* COMMON CLASSES STARTED FROM HERE */
.container{
    width: 90%;
    margin: 0 auto;
}
d-flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
d-flex-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
d-flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}
.btn{
    outline: 0px;
    border: 0px;
    padding: 10px 20px;
    background: var(--orange);
    color: var(--veryDarkBlue);
    font-weight: 500px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
/* COMMON CLASSES END HERE  */